@import "tailwindcss";

@theme {
  --color-brand-primary: #1B2134;
  --color-brand-secondary: #292D32;
  --color-brand-bg: #F8F5F0;
  --color-brand-divider: #D9D9D9;
  
  --font-poppins: var(--font-poppins);
  --font-work-sans: var(--font-work-sans);
}

:root {
  --background: #F8F5F0;
  --foreground: #1B2134;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

@keyframes loading-bar {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-loading-bar {
  animation: loading-bar 2s infinite ease-in-out;
}
